*:not(body, svg *) {
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  transition: 0.5s all;
}

body {
  background-color: var(--background-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-panel);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  border-radius: 15px;
}

* {
  padding: 0;
  margin: 0;
}

#menu {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  z-index: 99;
  position: relative;
}
#menu > .position {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 800px) {
  #menu > .position {
    width: 95%;
  }
}
#menu > .position > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 5px;
}
#menu > .position > div:nth-child(1) #logo-icon {
  width: 40px;
  height: 30px;
  fill: var(--background-panel);
}
#menu > .position > div:nth-child(1) hr {
  margin-left: 10px;
  margin-right: 5px;
  width: 2px;
  height: 30px;
  background-color: var(--background-color);
  border: 1px solid var(--background-color);
  opacity: 20%;
}
@media only screen and (max-width: 800px) {
  #menu > .position > div:nth-child(1) hr {
    opacity: 10%;
  }
}
#menu > .position > div:nth-last-child(1) {
  display: flex;
  align-items: center;
  gap: 40px;
}
#menu > .position > div:nth-last-child(1) button {
  color: var(--background-panel);
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#menu > .position > div:nth-last-child(1) button::after {
  content: "";
  background-color: var(--background-panel);
  height: 3px;
  width: 75%;
  border-radius: 15px;
}
#menu > .position > div:nth-last-child(1) button:hover::after {
  display: flex;
}
#menu > .position > div:nth-last-child(1) button:has(~ :hover)::after, #menu > .position > div:nth-last-child(1) button:hover ~ button::after {
  display: none !important;
}
#menu > .position > div:nth-last-child(1) button.active-button::after {
  display: flex;
}
#menu > .position > div:nth-last-child(1) button:active {
  transition: 5ms;
  opacity: 30%;
}
#menu > .position > div:nth-last-child(1) #hamburger-menu-button {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  cursor: pointer;
  width: 36px;
  position: relative;
  transition: all 0.5s ease-in-out;
}
#menu > .position > div:nth-last-child(1) #hamburger-menu-button:active {
  transition: 1ms;
  opacity: 30%;
}
#menu > .position > div:nth-last-child(1) #hamburger-menu-button > div {
  width: 100%;
  height: 2.77px;
  border-radius: 5px;
  background-color: var(--background-panel);
  transform-origin: center;
}
#menu > .position > div:nth-last-child(1) #hamburger-menu-button > div:nth-child(2) {
  animation: animation-appear 1.3s ease-in-out;
}
@keyframes animation-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
#menu > .position > div:nth-last-child(1) #hamburger-menu-button.active-button > div {
  position: absolute;
}
#menu > .position > div:nth-last-child(1) #hamburger-menu-button.active-button > div:nth-child(2) {
  display: none;
}
#menu > .position > div:nth-last-child(1) #hamburger-menu-button.active-button > div:nth-child(1) {
  transform: rotate(45deg);
}
#menu > .position > div:nth-last-child(1) #hamburger-menu-button.active-button > div:nth-last-child(1) {
  transform: rotate(-45deg);
}
#menu > .position > div:nth-last-child(1) #hamburger-menu-button.button-not-active > div:nth-last-child(1), #menu > .position > div:nth-last-child(1) #hamburger-menu-button.button-not-active > div:nth-child(1) {
  animation: animation-rotate 0.7s ease-in-out;
}
@keyframes animation-rotate {
  from {
    position: absolute;
  }
  to {
    transform: relative;
  }
}

#footer {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer span {
  color: var(--text-color);
  font-size: 0.7rem;
}

#global-container {
  width: 100%;
  min-height: 100vh;
}

#theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  min-width: 150px;
  padding: 5px;
  border-radius: 10px;
  border: 1px transparent;
  background-color: var(--transparent-background-panel);
  color: var(--background-panel);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: 5ms all !important;
}
#theme-button:hover {
  transition: 1s;
  border: 1px solid var(--background-panel);
}
#theme-button:active {
  transition: 1ms;
  opacity: 30%;
}
#theme-button span {
  font-size: 0.8rem;
  color: currentColor;
}
#theme-button svg {
  width: 25px;
  height: 25px;
  fill: currentColor;
}
#theme-button svg path {
  fill: currentColor;
}

#home {
  width: 100%;
  display: flex;
  justify-content: center;
}
#home .position {
  width: 95%;
  max-width: 700px;
  margin-top: 45px;
  background-color: var(--background-panel);
  border-radius: 5px;
}
#home .position .header {
  width: 100%;
  height: 48px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
}
#home .position .header button {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border-radius: 4px 4px 0 0;
  border: none;
  border-bottom: 3px solid transparent;
  padding: 10px;
  cursor: pointer;
  color: var(--text-color);
  font-size: 1rem;
}
#home .position .header button:has(~ :hover), #home .position .header button:hover ~ button {
  opacity: 30%;
}
#home .position .header button.active-button {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  background-color: var(--background-panel);
}
#home .position .header button:hover {
  background-color: var(--background-panel);
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}
#home .position .header button:active {
  transition: 5ms;
  opacity: 60%;
}

#entry-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#entry-form * {
  outline-color: var(--text-color);
}
#entry-form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 55px;
  padding: 20px;
  gap: 15px;
}
#entry-form > div > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#entry-form > div > div label {
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color);
}
#entry-form > div > div input {
  width: 100%;
  height: 67px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--yellow-background-panel);
  text-align: center;
  padding: 5px;
  font-size: 1.5rem;
  color: var(--green-text-color);
  text-transform: uppercase;
}
#entry-form > div > div input::-moz-placeholder {
  color: var(--text-color);
}
#entry-form > div > div input::placeholder {
  color: var(--text-color);
}
#entry-form > div > div input.invalid-input {
  color: var(--error-text-color);
}
#entry-form > div > div .error-warning {
  width: 100%;
  min-height: 32px;
  border-radius: 5px;
  background-color: var(--error-background-panel);
  margin-top: 5px;
  padding: 3px 12px;
  color: var(--error-text-color);
  gap: 10px;
  display: flex;
  align-items: center;
}
#entry-form > div > div .error-warning svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
#entry-form > div > div .error-warning span {
  font-size: 0.7rem;
}
#entry-form > div button[type=submit] {
  width: 100%;
  height: 67px;
  background-color: var(--gray-background-panel);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: var(--text-color);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
}
#entry-form > div button[type=submit]:hover {
  transition: 1s;
  filter: brightness(0.8);
}
#entry-form > div button[type=submit]:active {
  transition: 5ms;
  opacity: 30%;
}
#entry-form > div button[type=submit].active-button {
  color: var(--background-panel);
  background-color: var(--green-background-panel);
}

#exit-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#exit-form * {
  outline-color: var(--text-color);
}
#exit-form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 20px;
  gap: 15px;
}
#exit-form > div > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#exit-form > div > div label {
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color);
}
#exit-form > div > div input {
  width: 100%;
  height: 67px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--yellow-background-panel);
  text-align: center;
  padding: 5px;
  font-size: 1.5rem;
  color: var(--green-text-color);
  text-transform: uppercase;
}
#exit-form > div > div input::-moz-placeholder {
  color: var(--text-color);
}
#exit-form > div > div input::placeholder {
  color: var(--text-color);
}
#exit-form > div > div input.invalid-input {
  color: var(--error-text-color);
}
#exit-form > div > div .error-warning {
  width: 100%;
  height: 32px;
  border-radius: 5px;
  background-color: var(--error-background-panel);
  margin-top: 5px;
  padding: 3px 12px;
  color: var(--error-text-color);
  gap: 10px;
  display: flex;
  align-items: center;
}
#exit-form > div > div .error-warning svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
#exit-form > div > div .error-warning span {
  font-size: 0.7rem;
}
#exit-form > div button[type=submit] {
  width: 100%;
  min-height: 67px;
  background-color: var(--gray-background-panel);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: var(--text-color);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
}
#exit-form > div button[type=submit]:hover {
  transition: 1s;
  filter: brightness(0.8);
}
#exit-form > div button[type=submit]:active {
  transition: 5ms;
  opacity: 30%;
}
#exit-form > div button[type=submit].active-button {
  color: var(--background-panel);
  background-color: var(--purple-text-color);
}
#exit-form > div button[type=submit].active-button.transparent-background-button {
  color: var(--purple-text-color) !important;
  border: 2px solid var(--purple-text-color) !important;
}
#exit-form > div button[type=submit].transparent-background-button {
  background-color: transparent !important;
  border: 2px solid var(--gray-background-panel);
}
#exit-form > div #history-button {
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 600;
  font-size: 0.938rem;
  text-transform: uppercase;
  margin-top: 25px;
}
#exit-form > div #history-button:hover {
  transition: 1s;
  filter: brightness(0.8);
}
#exit-form > div #history-button:active {
  transition: 5ms;
  opacity: 30%;
}

#mobile-menu {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  z-index: 99;
  display: flex;
  justify-content: center;
  position: relative;
}
#mobile-menu .position {
  width: 100%;
  margin-top: 50px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
}
#mobile-menu .position button {
  border: none;
  font-size: 1rem;
  color: var(--background-panel);
  cursor: pointer;
  background-color: transparent;
}
#mobile-menu .position button.active-button {
  font-weight: bold;
}

#loading-field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#loading-field div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#loading-field div svg {
  width: 70px;
  height: 70px;
  color: var(--primary-color);
  fill: var(--primary-color);
  transform-origin: center;
  animation: animation-rotate 3s infinite ease;
}
@keyframes animation-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
#loading-field div svg path:nth-child(1) {
  animation: animation-appear 3s ease infinite;
  animation-delay: 0.3s;
}
#loading-field div svg path:nth-child(2) {
  animation: animation-appear 3s ease infinite;
  animation-delay: 0.6s;
}
#loading-field div svg path:nth-child(3) {
  animation: animation-appear 3s ease infinite;
  animation-delay: 0.9s;
}
#loading-field div svg path:nth-child(4) {
  animation: animation-appear 3s ease infinite;
  animation-delay: 1.2s;
}
#loading-field div svg path:nth-child(5) {
  animation: animation-appear 3s ease infinite;
  animation-delay: 1.5s;
}
#loading-field div svg path:nth-child(6) {
  animation: animation-appear 3s ease infinite;
  animation-delay: 1.8s;
}
#loading-field div svg path:nth-child(7) {
  animation: animation-appear 3s ease infinite;
  animation-delay: 2.1s;
}
#loading-field div svg path:nth-child(8) {
  animation: animation-appear 3s ease infinite;
  animation-delay: 2.4s;
}
@keyframes animation-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#loading-field div span {
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--green-text-color);
}/*# sourceMappingURL=globals.css.map */